In [11]:
import pandas as pd
import ast

In [21]:
fc_data = pd.read_csv("data/data_fraud_constraint.csv")

In [3]:
fc_data.head(3)

,id,ticker,cik,year,accession_number,mda_section,target_word_frequency,created_at
0,1,AAPL,320193,2017,70,0,"{""recklessness"": 0, ""guarantor"": 0, ""hazard"": ...",2023-10-16 20:10:30.994056+00
1,2,AAPL,320193,2018,145,0,"{""recklessness"": 0, ""guarantor"": 0, ""hazard"": ...",2023-10-16 20:10:30.994056+00
2,3,AAPL,320193,2019,119,0,"{""recklessness"": 0, ""guarantor"": 0, ""hazard"": ...",2023-10-16 20:10:30.994056+00

In [4]:
fc_data.isna().sum()

id                       0
ticker                   0
cik                      0
year                     0
accession_number         0
mda_section              0
target_word_frequency    0
created_at               0
dtype: int64

In [16]:
pd.Series(ast.literal_eval(fc_data['target_word_frequency'][0]))

recklessness     0
guarantor        0
hazard           0
constrains       0
despicable       0
                ..
guilty           0
reprehensible    0
threat           0
restricting      0
selfishness      0
Length: 454, dtype: int64

In [17]:
fc_data['target_word_frequency'] = fc_data['target_word_frequency'].apply(ast.literal_eval)
fc_data = fc_data['target_word_frequency'].apply(pd.Series)

In [20]:
data_col = fc_data

In [22]:
data_col

,recklessness,guarantor,hazard,constrains,despicable,refusal,restitution,dependance,constrain,prevented,...,condemnation,responsible,motive,conviction,applicant,guilty,reprehensible,threat,restricting,selfishness
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48828,0,0,0,0,0,0,0,0,0,1,...,0,3,0,0,0,0,0,0,1,0
48829,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
48830,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
48831,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
48832,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
fc_data

,id,ticker,cik,year,accession_number,mda_section,target_word_frequency,created_at
0,1,AAPL,320193,2017,70,0,"{""recklessness"": 0, ""guarantor"": 0, ""hazard"": ...",2023-10-16 20:10:30.994056+00
1,2,AAPL,320193,2018,145,0,"{""recklessness"": 0, ""guarantor"": 0, ""hazard"": ...",2023-10-16 20:10:30.994056+00
2,3,AAPL,320193,2019,119,0,"{""recklessness"": 0, ""guarantor"": 0, ""hazard"": ...",2023-10-16 20:10:30.994056+00
3,4,AAPL,320193,2020,96,0,"{""recklessness"": 0, ""guarantor"": 0, ""hazard"": ...",2023-10-16 20:10:30.994056+00
4,5,AAPL,320193,2021,105,0,"{""recklessness"": 0, ""guarantor"": 0, ""hazard"": ...",2023-10-16 20:10:30.994056+00
...,...,...,...,...,...,...,...,...
48828,48829,TNONW,1575872,2023,346,0,"{""recklessness"": 0, ""guarantor"": 0, ""hazard"": ...",2023-10-21 09:30:41.203302+00
48829,48830,MIMWW,1829126,2021,2055,0,"{""recklessness"": 0, ""guarantor"": 0, ""hazard"": ...",2023-10-21 09:30:59.50148+00
48830,48831,MIMWW,1829126,2022,7958,0,"{""recklessness"": 0, ""guarantor"": 0, ""hazard"": ...",2023-10-21 09:30:59.50148+00
48831,48832,RTEZ,1185185,2022,827,0,"{""recklessness"": 0, ""guarantor"": 0, ""hazard"": ...",2023-10-21 09:31:20.411612+00
48832,48833,RTEZ,1185185,2023,944,0,"{""recklessness"": 0, ""guarantor"": 0, ""hazard"": ...",2023-10-21 09:31:20.411612+00

In [24]:
df = pd.concat([fc_data, data_col], axis=1)

In [25]:
df.head(3)

,id,ticker,cik,year,accession_number,mda_section,target_word_frequency,created_at,recklessness,guarantor,...,condemnation,responsible,motive,conviction,applicant,guilty,reprehensible,threat,restricting,selfishness
0,1,AAPL,320193,2017,70,0,"{""recklessness"": 0, ""guarantor"": 0, ""hazard"": ...",2023-10-16 20:10:30.994056+00,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,AAPL,320193,2018,145,0,"{""recklessness"": 0, ""guarantor"": 0, ""hazard"": ...",2023-10-16 20:10:30.994056+00,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,AAPL,320193,2019,119,0,"{""recklessness"": 0, ""guarantor"": 0, ""hazard"": ...",2023-10-16 20:10:30.994056+00,0,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
df.to_csv('data/fraud_constr_dist.csv')