In [1]:
import pandas as pd
import ast

In [17]:
fc_data = pd.read_csv("data/data_fraud_constraint.csv")

In [18]:
fc_data['year'].unique()

array([2017, 2018, 2019, 2020, 2021, 2022, 2002, 2003, 2004, 2007, 2005,
       2006, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2023,
       2001, 2000], dtype=int64)

In [19]:
fc_data.head(3)

,id,ticker,cik,year,accession_number,mda_section,target_word_frequency,created_at
0,1,AAPL,320193,2017,70,0,"{""recklessness"": 0, ""guarantor"": 0, ""hazard"": ...",2023-10-16 20:10:30.994056+00
1,2,AAPL,320193,2018,145,0,"{""recklessness"": 0, ""guarantor"": 0, ""hazard"": ...",2023-10-16 20:10:30.994056+00
2,3,AAPL,320193,2019,119,0,"{""recklessness"": 0, ""guarantor"": 0, ""hazard"": ...",2023-10-16 20:10:30.994056+00

In [20]:
fc_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48833 entries, 0 to 48832
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     48833 non-null  int64
 1   ticker                 48833 non-null  object
 2   cik                    48833 non-null  int64
 3   year                   48833 non-null  int64
 4   accession_number       48833 non-null  int64
 5   mda_section            48833 non-null  int64
 6   target_word_frequency  48833 non-null  object
 7   created_at             48833 non-null  object
dtypes: int64(5), object(3)
memory usage: 3.0+ MB

In [21]:
pd.Series(ast.literal_eval(fc_data['target_word_frequency'][0]))

recklessness     0
guarantor        0
hazard           0
constrains       0
despicable       0
                ..
guilty           0
reprehensible    0
threat           0
restricting      0
selfishness      0
Length: 454, dtype: int64

In [22]:
data_col = fc_data['target_word_frequency'].apply(ast.literal_eval)
data_col = data_col.apply(pd.Series)

In [24]:
data_col

,recklessness,guarantor,hazard,constrains,despicable,refusal,restitution,dependance,constrain,prevented,...,condemnation,responsible,motive,conviction,applicant,guilty,reprehensible,threat,restricting,selfishness
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48828,0,0,0,0,0,0,0,0,0,1,...,0,3,0,0,0,0,0,0,1,0
48829,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
48830,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
48831,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
48832,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
df = pd.concat([fc_data, data_col], axis=1)

In [26]:
df.head(3)

,id,ticker,cik,year,accession_number,mda_section,target_word_frequency,created_at,recklessness,guarantor,...,condemnation,responsible,motive,conviction,applicant,guilty,reprehensible,threat,restricting,selfishness
0,1,AAPL,320193,2017,70,0,"{""recklessness"": 0, ""guarantor"": 0, ""hazard"": ...",2023-10-16 20:10:30.994056+00,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,AAPL,320193,2018,145,0,"{""recklessness"": 0, ""guarantor"": 0, ""hazard"": ...",2023-10-16 20:10:30.994056+00,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,AAPL,320193,2019,119,0,"{""recklessness"": 0, ""guarantor"": 0, ""hazard"": ...",2023-10-16 20:10:30.994056+00,0,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
len(df.columns)

462

In [28]:
df.to_csv('data/fraud_constr_dist.csv')

In [4]:
df = pd.read_csv('data/fraud_constr_dist.csv')

In [5]:
df = df.rename(columns = {'cik':'cik_2'})

In [6]:
df.columns

Index(['Unnamed: 0', 'id', 'ticker', 'cik_2', 'year', 'accession_number',
       'mda_section', 'target_word_frequency', 'created_at', 'recklessness',
       ...
       'condemnation', 'responsible', 'motive', 'conviction', 'applicant',
       'guilty', 'reprehensible', 'threat', 'restricting', 'selfishness'],
      dtype='object', length=463)

In [77]:
data1 = pd.read_csv('data/bao_all_data2.csv')
len(data1)

327790

In [78]:
data1.columns

Index(['gvkey', 'datadate', 'fyear', 'indfmt', 'consol', 'popsrc', 'datafmt',
       'tic', 'cusip', 'conm', 'curcd', 'fyr', 'act', 'ap', 'at', 'ceq', 'che',
       'cogs', 'csho', 'dlc', 'dltis', 'dltt', 'dp', 'ib', 'invt', 'ivao',
       'ivst', 'lct', 'lt', 'ni', 'ppegt', 'pstk', 're', 'rect', 'sale',
       'sstk', 'txp', 'txt', 'xint', 'cik', 'costat', 'prcc_f', 'conml',
       'sic'],
      dtype='object')

In [79]:
data1['tic'].isna().sum()

96

In [80]:
# data1[data1['fyear']>=2000]['Mistate'].value_counts()

In [81]:
final_df = data1.merge(df,how='inner',left_on=['fyear','tic'],right_on=['year','ticker'])

In [82]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32234 entries, 0 to 32233
Columns: 507 entries, gvkey to selfishness
dtypes: float64(29), int64(464), object(14)
memory usage: 124.9+ MB

In [83]:
final_df.columns[:50]

Index(['gvkey', 'datadate', 'fyear', 'indfmt', 'consol', 'popsrc', 'datafmt',
       'tic', 'cusip', 'conm', 'curcd', 'fyr', 'act', 'ap', 'at', 'ceq', 'che',
       'cogs', 'csho', 'dlc', 'dltis', 'dltt', 'dp', 'ib', 'invt', 'ivao',
       'ivst', 'lct', 'lt', 'ni', 'ppegt', 'pstk', 're', 'rect', 'sale',
       'sstk', 'txp', 'txt', 'xint', 'cik', 'costat', 'prcc_f', 'conml', 'sic',
       'Unnamed: 0', 'id', 'ticker', 'cik_2', 'year', 'accession_number'],
      dtype='object')

In [84]:
final_df.to_csv('data/nlp_data_after_merge.csv')

In [3]:
final_df = pd.read_csv('data/nlp_data_after_merge.csv')

In [4]:
data = pd.read_csv('data/bao_all_data.csv')

In [5]:
final_df['Mistate'] = final_df.merge(data,right_on=['fyear','gvkey'],left_on=['fyear','gvkey'])['Mistate']

In [6]:
final_df.to_csv('data/nlp_data_after_merge.csv')

In [8]:
final_df.shape

(32234, 509)

In [7]:
final_df[final_df['year']<=2017]['Mistate'].value_counts()

0    21917
1       65
Name: Mistate, dtype: int64

------------
----------

In [1]:
import pandas as pd

In [2]:
data_main = pd.read_csv('data/nlp_data_after_merge.csv')

In [ ]:
df = pd.read_csv('data/fraud_constr_dist.csv')

df = df.rename(columns = {'cik':'cik_2'})

In [15]:
df.columns[:50]

Index(['Unnamed: 0', 'id', 'ticker', 'cik_2', 'year', 'accession_number',
       'mda_section', 'target_word_frequency', 'created_at', 'recklessness',
       'guarantor', 'hazard', 'constrains', 'despicable', 'refusal',
       'restitution', 'dependance', 'constrain', 'prevented', 'pledges',
       'fiasco', 'conspiracy', 'illegal', 'prohibits', 'restrictive',
       'entailed', 'circumstance', 'immorality', 'prosecution', 'ingratitude',
       'publicity', 'imposture', 'noncancelable', 'compensation', 'disruption',
       'dispute', 'solicitor', 'offence', 'distress', 'depending',
       'alienation', 'inconvenience', 'complaint', 'constraining', 'policy',
       'tres', 'precludes', 'helplessness', 'vexatious', 'prohibit'],
      dtype='object')

In [18]:
data_remove = data_main[df.columns].rename(columns={'cik_2':'cik'})

In [27]:
result_df = pd.merge(df, data_remove, how='outer', indicator=True).query('_merge == "left_only"').drop('_merge', axis=1)

In [ ]:
result_df = pd.merge(df, data_remove, how='outer', indicator=True).query('_merge == "left_only"').drop('_merge', axis=1)

In [31]:
result_df.to_csv('data/unmatched_text.csv')

------------

In [32]:
df = pd.read_csv('data/fraud_constr_dist.csv')

df = df.rename(columns = {'cik':'cik_2'})


data1 = pd.read_csv('data/bao_all_data2.csv')


data1.columns

Index(['gvkey', 'datadate', 'fyear', 'indfmt', 'consol', 'popsrc', 'datafmt',
       'tic', 'cusip', 'conm', 'curcd', 'fyr', 'act', 'ap', 'at', 'ceq', 'che',
       'cogs', 'csho', 'dlc', 'dltis', 'dltt', 'dp', 'ib', 'invt', 'ivao',
       'ivst', 'lct', 'lt', 'ni', 'ppegt', 'pstk', 're', 'rect', 'sale',
       'sstk', 'txp', 'txt', 'xint', 'cik', 'costat', 'prcc_f', 'conml',
       'sic'],
      dtype='object')

In [41]:
final_df2 = data1.merge(df,how='inner',left_on=['fyear','cik'],right_on=['year','cik_2'])

In [46]:
final_df2

,gvkey,datadate,fyear,indfmt,consol,popsrc,datafmt,tic,cusip,conm,...,condemnation,responsible,motive,conviction,applicant,guilty,reprehensible,threat,restricting,selfishness
0,1161,2016-12-31,2016,INDL,C,D,STD,AMD,007903107,ADVANCED MICRO DEVICES,...,0,0,0,0,0,0,0,0,2,0
1,1266,2015-09-30,2015,INDL,C,D,STD,ALCO,016230104,ALICO INC,...,0,0,0,0,0,0,0,0,0,0
2,1266,2017-09-30,2017,INDL,C,D,STD,ALCO,016230104,ALICO INC,...,0,0,0,0,0,0,0,0,0,0
3,1266,2019-09-30,2019,INDL,C,D,STD,ALCO,016230104,ALICO INC,...,0,0,0,0,0,0,0,0,0,0
4,1449,2016-12-31,2016,INDL,C,D,STD,AFL,001055102,AFLAC INC,...,0,1,0,0,0,0,0,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1350,266214,2016-12-31,2016,INDL,C,D,STD,CNS,19247A100,COHEN & STEERS INC,...,0,0,0,0,0,0,0,0,0,0
1351,266214,2017-12-31,2017,INDL,C,D,STD,CNS,19247A100,COHEN & STEERS INC,...,0,1,0,0,0,0,0,0,0,0
1352,266214,2018-12-31,2018,INDL,C,D,STD,CNS,19247A100,COHEN & STEERS INC,...,0,1,0,0,0,0,0,0,0,0
1353,266214,2021-12-31,2021,INDL,C,D,STD,CNS,19247A100,COHEN & STEERS INC,...,0,1,0,0,0,0,0,0,0,0
1354,266315,2016-12-31,2016,INDL,C,D,STD,KRG,49803T300,KITE REALTY GROUP TRUST,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
final_df.to_csv('data/nlp_data_after_merge.csv')

final_df = pd.read_csv('data/nlp_data_after_merge.csv')

In [45]:
final_df2

,gvkey,datadate,fyear,indfmt,consol,popsrc,datafmt,tic,cusip,conm,...,condemnation,responsible,motive,conviction,applicant,guilty,reprehensible,threat,restricting,selfishness
0,1161,2016-12-31,2016,INDL,C,D,STD,AMD,007903107,ADVANCED MICRO DEVICES,...,0,0,0,0,0,0,0,0,2,0
1,1266,2015-09-30,2015,INDL,C,D,STD,ALCO,016230104,ALICO INC,...,0,0,0,0,0,0,0,0,0,0
2,1266,2017-09-30,2017,INDL,C,D,STD,ALCO,016230104,ALICO INC,...,0,0,0,0,0,0,0,0,0,0
3,1266,2019-09-30,2019,INDL,C,D,STD,ALCO,016230104,ALICO INC,...,0,0,0,0,0,0,0,0,0,0
4,1449,2016-12-31,2016,INDL,C,D,STD,AFL,001055102,AFLAC INC,...,0,1,0,0,0,0,0,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1350,266214,2016-12-31,2016,INDL,C,D,STD,CNS,19247A100,COHEN & STEERS INC,...,0,0,0,0,0,0,0,0,0,0
1351,266214,2017-12-31,2017,INDL,C,D,STD,CNS,19247A100,COHEN & STEERS INC,...,0,1,0,0,0,0,0,0,0,0
1352,266214,2018-12-31,2018,INDL,C,D,STD,CNS,19247A100,COHEN & STEERS INC,...,0,1,0,0,0,0,0,0,0,0
1353,266214,2021-12-31,2021,INDL,C,D,STD,CNS,19247A100,COHEN & STEERS INC,...,0,1,0,0,0,0,0,0,0,0
1354,266315,2016-12-31,2016,INDL,C,D,STD,KRG,49803T300,KITE REALTY GROUP TRUST,...,0,0,0,0,0,0,0,0,0,0

------------
--------------

### NLP Features + Compustat

In [2]:
import pandas as pd
import numpy as np
from MLP.utils import datasets,plot_table,train_model
from sklearn import metrics
from imblearn.under_sampling import RandomUnderSampler
from tabulate import tabulate
import matplotlib.pyplot as plt
from results.data_processing import DataProcessor
from results.utils import evaluate,null_check,results
from results.models import rus_boost, svm_model, xgb_model, logistic_regression_model,probit_regression_model,MLP,mlp_grid_search, random_forests
import json
from collections import defaultdict

In [3]:
nlp_data = pd.read_csv('data/nlp_data_after_merge.csv')

In [4]:
nlp_data = nlp_data.drop(columns = ['Unnamed: 0.2', 'Unnamed: 0.1'])

In [5]:
nlp_data.columns[:30]

Index(['gvkey', 'datadate', 'fyear', 'indfmt', 'consol', 'popsrc', 'datafmt',
       'tic', 'cusip', 'conm', 'curcd', 'fyr', 'act', 'ap', 'at', 'ceq', 'che',
       'cogs', 'csho', 'dlc', 'dltis', 'dltt', 'dp', 'ib', 'invt', 'ivao',
       'ivst', 'lct', 'lt', 'ni'],
      dtype='object')

In [5]:
import ast
nlp_feat = ast.literal_eval(nlp_data['target_word_frequency'][0]).keys()

In [6]:
with open('results/features.json') as json_file:
    features_comp = json.load(json_file)

In [7]:
nlp_data[features_comp['28 Raw Financial Items']] = nlp_data[features_comp['28 Raw Financial Items']].fillna(0)

In [8]:
models = {"RUS BOOST": rus_boost,
          "Logit":logistic_regression_model}

In [7]:
nlp_data = nlp_data.rename(columns={'Mistate' : 'misstate'})

* Change Data preriods
* Bao - train and test [-2014,2015-]
* train,test metrics
* Excel - Total - unique records
* Logit and Probit on the NLP features

In [9]:
nlp_data[nlp_data['year']<=2014].shape

(16847, 508)

In [10]:
nlp_data[nlp_data['year']<=2014]['misstate'].value_counts()

0    16800
1       47
Name: misstate, dtype: int64

In [18]:
nlp_data[(nlp_data['year']>2014) & (nlp_data['year']<2023)].shape

(15275, 508)

In [19]:
nlp_data[(nlp_data['year']>2014) & (nlp_data['year']<2023)]['misstate'].value_counts()

0    15227
1       48
Name: misstate, dtype: int64

-----

In [10]:
data_item = features_comp['28 Raw Financial Items']+features_comp['nlp_feat_fraud_constarint']
train_period,test_period = (2000,2014),(2015,2023)

In [11]:
res = defaultdict(lambda: defaultdict(dict))
data_obj = DataProcessor(nlp_data,(2000,2014),(2015,2023), (2015,2023), 5)
for model in models.keys():
    print(model)
    auc = results(data_obj,train_period,test_period,data_item,models[model])
    res[test_period]["NLP+28"][model] = auc

RUS BOOST
Train AUC: 1.0
Logit
Train AUC: 0.9492983250339521

In [12]:
res

defaultdict(<function __main__.<lambda>()>,
            {(2015,
              2023): defaultdict(dict,
                         {'NLP+28': {'RUS BOOST': 0.6354105547949671,
                           'Logit': 0.4564203174913619}})})

In [13]:
res = defaultdict(lambda: defaultdict(dict))

param_grid = {
    'activation': ['logistic', 'tanh', 'relu'],
    'hidden_layer_sizes': [
        (len(data_item), 40),
        (len(data_item), 50),
        (len(data_item), 40, 50),
        (len(data_item), 30, 40),
        (len(data_item), 40, 30, 50),
        (len(data_item), 30, 40, 30),
        (len(data_item), 40, 50, 60, 40),
        (len(data_item), 50, 50, 50, 50),
        (len(data_item), 30, 30, 30, 30)
        ],
    'learning_rate_init': [0.001, 0.01, 0.1]
    }
auc = results(data_obj,train_period,test_period,data_item,mlp_grid_search,param_grid)
res[test_period]["NLP+28"] = auc

Best Hyperparameters: {'activation': 'relu', 'hidden_layer_sizes': (482, 30, 40), 'learning_rate_init': 0.01}
Best AUC Score: 0.69
Test AUC Score: 0.595813096247039

In [14]:
res

defaultdict(<function __main__.<lambda>()>,
            {(2015, 2023): defaultdict(dict, {'NLP+28': 0.595813096247039})})

--------

In [15]:
data_item = features_comp['nlp_feat_fraud_constarint']
train_period,test_period = (2000,2014),(2015,2023)

In [16]:
res = defaultdict(lambda: defaultdict(dict))
data_obj = DataProcessor(nlp_data,(2000,2014),(2015,2023), (2015,2023), 5)
for model in models.keys():
    print(model)
    auc = results(data_obj,train_period,test_period,data_item,models[model])
    res[test_period]["NLP"][model] = auc

RUS BOOST
Train AUC: 0.9701222272521502
Logit
Train AUC: 0.9592575826165686

In [17]:
res

defaultdict(<function __main__.<lambda>()>,
            {(2015,
              2023): defaultdict(dict,
                         {'NLP': {'RUS BOOST': 0.5966429526044723,
                           'Logit': 0.6337311482712911}})})

In [18]:
res = defaultdict(lambda: defaultdict(dict))

param_grid = {
    'activation': ['logistic', 'tanh', 'relu'],
    'hidden_layer_sizes': [
        (len(data_item), 40),
        (len(data_item), 50),
        (len(data_item), 40, 50),
        (len(data_item), 30, 40),
        (len(data_item), 40, 30, 50),
        (len(data_item), 30, 40, 30),
        (len(data_item), 40, 50, 60, 40),
        (len(data_item), 50, 50, 50, 50),
        (len(data_item), 30, 30, 30, 30)
        ],
    'learning_rate_init': [0.001, 0.01, 0.1]
    }
auc = results(data_obj,train_period,test_period,data_item,mlp_grid_search,param_grid)
res[test_period]["NLP"] = auc

Best Hyperparameters: {'activation': 'logistic', 'hidden_layer_sizes': (454, 40, 50), 'learning_rate_init': 0.1}
Best AUC Score: 0.662469135802469
Test AUC Score: 0.5469812786578874

---------

In [8]:
nlp_data[nlp_data['year']>=2014]['misstate'].value_counts()

0    16843
1       52
Name: misstate, dtype: int64

In [26]:
len(nlp_data.columns[53:])-1

454