In [1]:
import pandas as pd
import ast

In [17]:
fc_data = pd.read_csv("data/data_fraud_constraint.csv")

In [18]:
fc_data['year'].unique()

array([2017, 2018, 2019, 2020, 2021, 2022, 2002, 2003, 2004, 2007, 2005,
       2006, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2023,
       2001, 2000], dtype=int64)

In [19]:
fc_data.head(3)

,id,ticker,cik,year,accession_number,mda_section,target_word_frequency,created_at
0,1,AAPL,320193,2017,70,0,"{""recklessness"": 0, ""guarantor"": 0, ""hazard"": ...",2023-10-16 20:10:30.994056+00
1,2,AAPL,320193,2018,145,0,"{""recklessness"": 0, ""guarantor"": 0, ""hazard"": ...",2023-10-16 20:10:30.994056+00
2,3,AAPL,320193,2019,119,0,"{""recklessness"": 0, ""guarantor"": 0, ""hazard"": ...",2023-10-16 20:10:30.994056+00

In [20]:
fc_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48833 entries, 0 to 48832
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     48833 non-null  int64
 1   ticker                 48833 non-null  object
 2   cik                    48833 non-null  int64
 3   year                   48833 non-null  int64
 4   accession_number       48833 non-null  int64
 5   mda_section            48833 non-null  int64
 6   target_word_frequency  48833 non-null  object
 7   created_at             48833 non-null  object
dtypes: int64(5), object(3)
memory usage: 3.0+ MB

In [21]:
pd.Series(ast.literal_eval(fc_data['target_word_frequency'][0]))

recklessness     0
guarantor        0
hazard           0
constrains       0
despicable       0
                ..
guilty           0
reprehensible    0
threat           0
restricting      0
selfishness      0
Length: 454, dtype: int64

In [22]:
data_col = fc_data['target_word_frequency'].apply(ast.literal_eval)
data_col = data_col.apply(pd.Series)

In [24]:
data_col

,recklessness,guarantor,hazard,constrains,despicable,refusal,restitution,dependance,constrain,prevented,...,condemnation,responsible,motive,conviction,applicant,guilty,reprehensible,threat,restricting,selfishness
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48828,0,0,0,0,0,0,0,0,0,1,...,0,3,0,0,0,0,0,0,1,0
48829,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
48830,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
48831,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
48832,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
df = pd.concat([fc_data, data_col], axis=1)

In [26]:
df.head(3)

,id,ticker,cik,year,accession_number,mda_section,target_word_frequency,created_at,recklessness,guarantor,...,condemnation,responsible,motive,conviction,applicant,guilty,reprehensible,threat,restricting,selfishness
0,1,AAPL,320193,2017,70,0,"{""recklessness"": 0, ""guarantor"": 0, ""hazard"": ...",2023-10-16 20:10:30.994056+00,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,AAPL,320193,2018,145,0,"{""recklessness"": 0, ""guarantor"": 0, ""hazard"": ...",2023-10-16 20:10:30.994056+00,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,AAPL,320193,2019,119,0,"{""recklessness"": 0, ""guarantor"": 0, ""hazard"": ...",2023-10-16 20:10:30.994056+00,0,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
len(df.columns)

462

In [28]:
df.to_csv('data/fraud_constr_dist.csv')

In [74]:
df = pd.read_csv('data/fraud_constr_dist.csv')

In [75]:
df = df.rename(columns = {'cik':'cik_2'})

In [76]:
df.columns

Index(['Unnamed: 0', 'id', 'ticker', 'cik_2', 'year', 'accession_number',
       'mda_section', 'target_word_frequency', 'created_at', 'recklessness',
       ...
       'condemnation', 'responsible', 'motive', 'conviction', 'applicant',
       'guilty', 'reprehensible', 'threat', 'restricting', 'selfishness'],
      dtype='object', length=463)

In [77]:
data1 = pd.read_csv('data/bao_all_data2.csv')
len(data1)

327790

In [78]:
data1.columns

Index(['gvkey', 'datadate', 'fyear', 'indfmt', 'consol', 'popsrc', 'datafmt',
       'tic', 'cusip', 'conm', 'curcd', 'fyr', 'act', 'ap', 'at', 'ceq', 'che',
       'cogs', 'csho', 'dlc', 'dltis', 'dltt', 'dp', 'ib', 'invt', 'ivao',
       'ivst', 'lct', 'lt', 'ni', 'ppegt', 'pstk', 're', 'rect', 'sale',
       'sstk', 'txp', 'txt', 'xint', 'cik', 'costat', 'prcc_f', 'conml',
       'sic'],
      dtype='object')

In [79]:
data1['tic'].isna().sum()

96

In [80]:
# data1[data1['fyear']>=2000]['Mistate'].value_counts()

In [81]:
final_df = data1.merge(df,how='inner',left_on=['fyear','tic'],right_on=['year','ticker'])

In [82]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32234 entries, 0 to 32233
Columns: 507 entries, gvkey to selfishness
dtypes: float64(29), int64(464), object(14)
memory usage: 124.9+ MB

In [83]:
final_df.columns[:50]

Index(['gvkey', 'datadate', 'fyear', 'indfmt', 'consol', 'popsrc', 'datafmt',
       'tic', 'cusip', 'conm', 'curcd', 'fyr', 'act', 'ap', 'at', 'ceq', 'che',
       'cogs', 'csho', 'dlc', 'dltis', 'dltt', 'dp', 'ib', 'invt', 'ivao',
       'ivst', 'lct', 'lt', 'ni', 'ppegt', 'pstk', 're', 'rect', 'sale',
       'sstk', 'txp', 'txt', 'xint', 'cik', 'costat', 'prcc_f', 'conml', 'sic',
       'Unnamed: 0', 'id', 'ticker', 'cik_2', 'year', 'accession_number'],
      dtype='object')

In [84]:
final_df.to_csv('data/nlp_data_after_merge.csv')

In [85]:
data = pd.read_csv('data/bao_all_data.csv')

In [86]:
final_df['Mistate'] = final_df.merge(data,right_on=['fyear','gvkey'],left_on=['fyear','gvkey'])['Mistate']

In [104]:
final_df[final_df['year']<=2017]['Mistate'].value_counts()

0    21917
1       65
Name: Mistate, dtype: int64

In [94]:
sorted(final_df['year'].unique())

[2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020,
 2021,
 2022,
 2023]