In [5]:
import pandas as pd
import numpy as np
from MLP.utils import datasets,plot_table,train_model

In [6]:
data = pd.read_csv('bao_all_data.csv')

In [7]:
data = data.drop(columns=['Unnamed: 0'],axis = 1)

In [8]:
data.head(3)

,Mistate,gvkey,datadate,fyear,indfmt,consol,popsrc,datafmt,cusip,conm,...,soft_assets,ch_cs,ch_cm,ch_roa,issue,bm,dpi,reoa,EBIT,ch_fcf
0,0,1003.0,1990-01-31,1989.0,INDL,C,D,STD,354100,A.A. IMPORTING CO INC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,1004.0,1990-05-31,1989.0,INDL,C,D,STD,361105,AAR CORP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,1017.0,1990-02-28,1989.0,INDL,C,D,STD,1030105,AEL INDUSTRIES -CL A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# select the columns to use as features
features = ['act', 'ap', 'at', 'ceq', 'che', 'cogs', 'csho', 'dlc', 'dltis', 'dltt', 'dp', 'ib', 'invt', 'ivao', 'ivst', 'lct', 'lt', 'ni', 'ppegt', 'pstk', 're', 'rect',
            'sale', 'sstk', 'txp', 'txt', 'xint', 'prcc_f', 'dch_wc', 'ch_rsst', 'dch_rec', 'dch_inv', 'soft_assets', 'ch_cs', 'ch_cm', 'ch_roa', 'bm', 'dpi', 'reoa', 'EBIT', 'ch_fcf']

raw_financial_items_28 = ['act', 'ap', 'at', 'ceq', 'che', 'cogs', 'csho', 'dlc', 'dltis', 'dltt', 'dp', 'ib', 'invt', 'ivao', 'ivst', 'lct', 'lt', 'ni', 'ppegt', 'pstk', 're', 'rect',
            'sale', 'sstk', 'txp', 'txt', 'xint', 'prcc_f']

financial_ratios_14 = ['dch_wc', 'ch_rsst', 'dch_rec', 'dch_inv', 'soft_assets', 'ch_cs', 'ch_cm', 'ch_roa', 'bm', 'dpi', 'reoa', 'EBIT', 'ch_fcf','issue']

In [10]:
data[raw_financial_items_28].isna().sum()

act       142000
ap         86257
at         59960
ceq        60666
che        94542
cogs       95713
csho       55704
dlc        62526
dltis     114785
dltt       61103
dp         74624
ib         61174
invt       91413
ivao      104856
ivst       66026
lct       140360
lt         60491
ni         95402
ppegt     117976
pstk       60986
re         68591
rect       96567
sale       95674
sstk      111051
txp       111990
txt        61643
xint       99447
prcc_f     50072
dtype: int64

In [11]:
data[financial_ratios_14].isna().sum()

dch_wc         362384
ch_rsst        362384
dch_rec        362384
dch_inv        362384
soft_assets    362384
ch_cs          362384
ch_cm          362384
ch_roa         362384
bm             362384
dpi            362384
reoa           362384
EBIT           362384
ch_fcf         362384
issue          362384
dtype: int64

In [12]:
data.shape

(362384, 58)

In [13]:
data.columns

Index(['Mistate', 'gvkey', 'datadate', 'fyear', 'indfmt', 'consol', 'popsrc',
       'datafmt', 'cusip', 'conm', 'curcd', 'fyr', 'act', 'ap', 'at', 'ceq',
       'che', 'cogs', 'csho', 'dlc', 'dltis', 'dltt', 'dp', 'ib', 'invt',
       'ivao', 'ivst', 'lct', 'lt', 'ni', 'ppegt', 'pstk', 're', 'rect',
       'sale', 'sstk', 'txp', 'txt', 'xint', 'cik', 'costat', 'prcc_f',
       'conml', 'sic', 'dch_wc', 'ch_rsst', 'dch_rec', 'dch_inv',
       'soft_assets', 'ch_cs', 'ch_cm', 'ch_roa', 'issue', 'bm', 'dpi', 'reoa',
       'EBIT', 'ch_fcf'],
      dtype='object')

In [14]:
df = data[raw_financial_items_28]

In [15]:
import warnings
warnings.filterwarnings("ignore")

In [16]:
for col in ['Mistate', 'gvkey', 'datadate', 'fyear', 'indfmt', 'consol', 'popsrc',
       'datafmt', 'cusip', 'conm', 'curcd', 'fyr']:
    df[col] = data[col]

In [17]:
df.head(3)

,act,ap,at,ceq,che,cogs,csho,dlc,dltis,dltt,...,datadate,fyear,indfmt,consol,popsrc,datafmt,cusip,conm,curcd,fyr
0,9.190,2.391,10.109,-0.416,0.691,11.883,2.683,4.449,2.421,0.076,...,1990-01-31,1989.0,INDL,C,D,STD,354100,A.A. IMPORTING CO INC,USD,1.0
1,275.576,35.861,388.521,189.548,4.044,336.931,16.082,33.821,72.243,72.329,...,1990-05-31,1989.0,INDL,C,D,STD,361105,AAR CORP,USD,5.0
2,69.041,2.648,129.514,41.861,17.498,96.455,3.892,13.137,5.367,35.456,...,1990-02-28,1989.0,INDL,C,D,STD,1030105,AEL INDUSTRIES -CL A,USD,2.0

In [18]:
df.isna().sum()

act         142000
ap           86257
at           59960
ceq          60666
che          94542
cogs         95713
csho         55704
dlc          62526
dltis       114785
dltt         61103
dp           74624
ib           61174
invt         91413
ivao        104856
ivst         66026
lct         140360
lt           60491
ni           95402
ppegt       117976
pstk         60986
re           68591
rect         96567
sale         95674
sstk        111051
txp         111990
txt          61643
xint         99447
prcc_f       50072
Mistate          0
gvkey            1
datadate         1
fyear            1
indfmt           1
consol           1
popsrc           1
datafmt          1
cusip           98
conm             1
curcd            1
fyr              1
dtype: int64

In [19]:
df = df.drop(['cusip'],axis=1)

In [20]:
df['conm'].nunique()

30863

In [21]:
len(df)

362384

In [22]:
df['conm'].isna().sum()

1

In [23]:
df[df['conm'].isna()]

,act,ap,at,ceq,che,cogs,csho,dlc,dltis,dltt,...,gvkey,datadate,fyear,indfmt,consol,popsrc,datafmt,conm,curcd,fyr
362383,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

* Dropping off the row with null value in conm column

In [24]:
df = df.dropna(subset=['conm'])

* As there are many null values in the data (from 28 raw financial items), lets try ipmuting mean based on the companies

In [30]:
def data_impute():
    grouped_data = df.groupby('conm')
    group_means = grouped_data.mean()
    imputed_data = grouped_data.apply(lambda x: x.fillna(group_means.loc[x.name]))
    imputed_df = imputed_data.reset_index(drop=True)
    return imputed_df

In [31]:
df1 = data_impute()

In [32]:
df1.isna().sum()

act         125000
ap           44590
at           44017
ceq          44155
che          44115
cogs         44219
csho          2373
dlc          43742
dltis        55919
dltt         44080
dp           46605
ib           44121
invt         44877
ivao         45026
ivst         44773
lct         120947
lt           44077
ni           44183
ppegt        95371
pstk         44169
re           48580
rect         44518
sale         44219
sstk         55760
txp          94064
txt          44123
xint         45900
prcc_f       14739
Mistate          0
gvkey            0
datadate         0
fyear            0
indfmt           0
consol           0
popsrc           0
datafmt          0
conm             0
curcd            0
fyr              0
dtype: int64

In [25]:
grouped_data = df.groupby('conm')

In [26]:
group_means = grouped_data.mean()

In [27]:
group_means

,act,ap,at,ceq,che,cogs,csho,dlc,dltis,dltt,...,sale,sstk,txp,txt,xint,prcc_f,Mistate,gvkey,fyear,fyr
conm,,,,,,,,,,,,,,,,,,,,,
1-800 CONTACTS INC,25.749364,6.668000,54.719182,27.132273,1.529636,86.495273,9.972909,3.368455,4.213500,10.943182,...,141.030727,2.600818,0.422091,3.387182,0.722727,20.523056,0.0,66425.0,2001.0,12.00
1-800-ATTORNEY INC,3.076286,0.332429,4.942857,3.037286,2.301429,1.963286,4.172286,0.114286,0.157143,0.502143,...,5.525571,1.127714,0.017143,0.017143,0.046000,1.504767,0.0,62884.0,1998.0,12.00
1-800-FLOWERS.COM,162.568560,45.633760,398.234120,210.394600,68.011280,521.557680,62.929000,10.487560,77.555160,64.826520,...,891.327080,9.926000,0.033800,4.802520,3.391667,9.607174,0.0,122519.0,2010.0,6.00
10X GENOMICS INC,468.695833,11.820333,630.498167,408.328333,373.060833,49.442500,76.645333,6.399500,5.085333,45.281500,...,294.839167,181.639167,3.223000,2.853000,1.553833,100.812500,0.0,35640.0,2019.5,12.00
111 INC -ADR,288.746714,108.541571,309.779714,1.672286,136.109429,871.767286,69.267429,25.462571,0.000000,8.331143,...,894.950429,25.762857,1.413143,0.000143,0.684429,5.268000,0.0,34066.0,2019.0,12.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZYNEX INC,15.236625,1.712625,21.061250,11.342583,5.652792,5.494333,27.227083,2.269667,0.897739,2.370167,...,27.950083,1.241583,0.509542,0.790375,0.258833,2.647209,0.0,129441.0,2010.5,11.75
ZYNGA INC,1207.771846,33.708692,2728.830231,1692.406846,1045.707385,279.119462,807.124000,11.642538,125.279385,283.835154,...,1082.743308,148.950231,8.146923,14.726077,11.858444,4.890909,0.0,187576.0,2015.0,12.00
ZYQC GROUP HOLDING LTD,0.170000,0.004000,0.180000,0.176000,0.166000,0.025000,47.820000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.010000,0.0,186677.0,2010.5,4.00
ZYTEC CORP,38.143800,9.569000,50.595800,17.189200,2.562400,119.667400,4.932400,9.378000,34.812200,7.767800,...,143.385400,2.361600,0.000000,1.586000,1.191400,9.281250,0.0,29163.0,1993.0,12.00
ZYTEC SYSTEMS INC,0.307000,0.308667,0.782000,-0.198333,0.077000,0.103667,6.413333,0.400000,0.017333,0.117000,...,0.665000,0.000000,0.036000,-0.003667,0.049000,0.203000,0.0,11951.0,1991.0,9.00

In [28]:
group_means.to_csv('mean_values_comp.csv',index=True)

In [29]:
group_means.isna().sum()

act        9424
ap         5418
at         5333
ceq        5348
che        5349
cogs       5447
csho        423
dlc        5311
dltis      6461
dltt       5351
dp         5732
ib         5431
invt       5462
ivao       5496
ivst       5529
lct        9183
lt         5351
ni         5435
ppegt      7835
pstk       5349
re         5883
rect       5411
sale       5447
sstk       6436
txp        7609
txt        5432
xint       5782
prcc_f     2604
Mistate       0
gvkey         0
fyear         0
fyr           0
dtype: int64

In [30]:
imputed_data = grouped_data.apply(lambda x: x.fillna(group_means.loc[x.name]))

In [31]:
data_new = imputed_data.dropna()

In [32]:
data_new['conm'].nunique()

18090

In [33]:
data_new['Mistate'].value_counts()

0    216616
1      1044
Name: Mistate, dtype: int64

In [34]:
import json

In [35]:
train_period, validation_period, test_period = (1991,2015), (2014,2015), (2018,2023)

train_data, val_data, test_data = datasets(data_new, train_period,validation_period,test_period)

with open('MLP/features.json') as json_file:
    data_feat = json.load(json_file)

raw_financial_items_28 = data_feat['raw_financial_items_28']

X_train, y_train = train_data[raw_financial_items_28], train_data['Mistate']
X_test, y_test = test_data[raw_financial_items_28], test_data['Mistate'] 

print("Training data Shape:", X_train.shape)
print("Testing data Shape:", X_test.shape)

Training data Shape: (173763, 28)
Testing data Shape: (25880, 28)

In [36]:
from sklearn import metrics
from imblearn.under_sampling import RandomUnderSampler
from tabulate import tabulate
import matplotlib.pyplot as plt

In [37]:
rus = RandomUnderSampler(random_state=42)
X_train_resampled, y_train_resampled = rus.fit_resample(X_train, y_train)

print("Training data Shape after sampling:", X_train_resampled.shape)

Training data Shape after sampling: (1908, 28)

In [123]:
learning_rates = [0.001,0.003,0.005,0.009,0.01]
actv_funs = ['relu','logistic','tanh']

In [128]:
plot_table(40,learning_rates,actv_funs,X_train_resampled,y_train_resampled,X_test,y_test)

╒═════════════════╤═════════════════╤═══════════════════╤═══════╤═══════╤══════╤══════╤═══════════╕
│   Neurons in HL │   Learning Rate │ Activation Func   │    TN │    FP │   FN │   TP │   AUC-ROC │
╞═════════════════╪═════════════════╪═══════════════════╪═══════╪═══════╪══════╪══════╪═══════════╡
│              40 │           0.001 │ relu              │ 15811 │ 10010 │   33 │   26 │  0.526505 │
├─────────────────┼─────────────────┼───────────────────┼───────┼───────┼──────┼──────┼───────────┤
│              40 │           0.001 │ logistic          │ 14814 │ 11007 │   25 │   34 │  0.574995 │
├─────────────────┼─────────────────┼───────────────────┼───────┼───────┼──────┼──────┼───────────┤
│              40 │           0.001 │ tanh              │ 16292 │  9529 │   31 │   28 │  0.552768 │
├─────────────────┼─────────────────┼───────────────────┼───────┼───────┼──────┼──────┼───────────┤
│              40 │           0.003 │ relu              │ 17678 │  8143 │   31 │   28 │  0.579606 │
├─────────────────┼─────────────────┼───────────────────┼───────┼───────┼──────┼──────┼───────────┤
│              40 │           0.003 │ logistic          │ 14128 │ 11693 │   22 │   37 │  0.587135 │
├─────────────────┼─────────────────┼───────────────────┼───────┼───────┼──────┼──────┼───────────┤
│              40 │           0.003 │ tanh              │ 13315 │ 12506 │   22 │   37 │  0.571392 │
├─────────────────┼─────────────────┼───────────────────┼───────┼───────┼──────┼──────┼───────────┤
│              40 │           0.005 │ relu              │ 18620 │  7201 │   40 │   19 │  0.521576 │
├─────────────────┼─────────────────┼───────────────────┼───────┼───────┼──────┼──────┼───────────┤
│              40 │           0.005 │ logistic          │ 17808 │  8013 │   32 │   27 │  0.573649 │
├─────────────────┼─────────────────┼───────────────────┼───────┼───────┼──────┼──────┼───────────┤
│              40 │           0.005 │ tanh              │ 14406 │ 11415 │   23 │   36 │  0.584044 │
├─────────────────┼─────────────────┼───────────────────┼───────┼───────┼──────┼──────┼───────────┤
│              40 │           0.009 │ relu              │ 11919 │ 13902 │   15 │   44 │  0.603682 │
├─────────────────┼─────────────────┼───────────────────┼───────┼───────┼──────┼──────┼───────────┤
│              40 │           0.009 │ logistic          │ 16115 │  9706 │   26 │   33 │  0.591713 │
├─────────────────┼─────────────────┼───────────────────┼───────┼───────┼──────┼──────┼───────────┤
│              40 │           0.009 │ tanh              │ 11834 │ 13987 │   12 │   47 │  0.62746  │
├─────────────────┼─────────────────┼───────────────────┼───────┼───────┼──────┼──────┼───────────┤
│              40 │           0.01  │ relu              │ 14165 │ 11656 │   25 │   34 │  0.562428 │
├─────────────────┼─────────────────┼───────────────────┼───────┼───────┼──────┼──────┼───────────┤
│              40 │           0.01  │ logistic          │ 16883 │  8938 │   29 │   30 │  0.581161 │
├─────────────────┼─────────────────┼───────────────────┼───────┼───────┼──────┼──────┼───────────┤
│              40 │           0.01  │ tanh              │ 12625 │ 13196 │   18 │   41 │  0.591929 │
╘═════════════════╧═════════════════╧═══════════════════╧═══════╧═══════╧══════╧══════╧═══════════╛

In [147]:
train_start = 1990
train_end = 1995
test_start = 1996
test_end = 2000
window_size = test_end - train_start + 1

performance_results = []

with open('MLP/features.json') as json_file:
        data_feat = json.load(json_file)

# Sliding window loop
while test_start <= 2023:
    train_data, val_data, test_data = datasets(data_new, (train_start,train_end),(train_start,train_end),(test_start,test_end))

    raw_financial_items_28 = data_feat['raw_financial_items_28']

    X_train, y_train = train_data[raw_financial_items_28], train_data['Mistate']
    X_test, y_test = test_data[raw_financial_items_28], test_data['Mistate'] 

    print("Training data Shape:", X_train.shape)
    print("Testing data Shape:", X_test.shape)
    
    rus = RandomUnderSampler(random_state=42)
    X_train_resampled, y_train_resampled = rus.fit_resample(X_train, y_train)

    print("Training data Shape after sampling:", X_train_resampled.shape)
    
    performance,(_,_,_,_) = train_model(X_train_resampled, y_train_resampled, X_test, y_test,inputs = 28,actv_func='logistic', hidden_lay_neu=50,learning_rate=0.005)
    print("Performance over Train period {} - {} and Test Period {} - {}".format(train_start,train_end,test_start,test_end),performance)
    print('\n')
    performance_results.append(performance)

    train_start += window_size
    train_end += window_size
    test_start += window_size
    test_end += window_size
    if test_end > 2023:
        test_end==2023
        

# Calculate the average performance over all sliding windows
average_performance = sum(performance_results) / len(performance_results)

# Print the average performance
print("Average performance:", average_performance)

Training data Shape: (43648, 28)
Testing data Shape: (42104, 28)
Training data Shape after sampling: (272, 28)
Performance over Train period 1990 - 1995 and Test Period 1996 - 2000 0.5531676406021413


Training data Shape: (41776, 28)
Testing data Shape: (29389, 28)
Training data Shape after sampling: (740, 28)
Performance over Train period 2001 - 2006 and Test Period 2007 - 2011 0.585590239476489


Training data Shape: (33674, 28)
Testing data Shape: (25880, 28)
Training data Shape after sampling: (114, 28)
Performance over Train period 2012 - 2017 and Test Period 2018 - 2022 0.5746035778262208


Average performance: 0.5711204859682838

In [149]:
def test_results(window_size):
    train_start = 1990
    train_end = 1995
    test_start = 1996
    test_end = 2000
#     window_size = test_end - test_start + 1

    performance_results = []

    with open('MLP/features.json') as json_file:
            data_feat = json.load(json_file)

    # Sliding window loop
    while test_start <= 2023:
        train_data, val_data, test_data = datasets(data_new, (train_start,train_end),(train_start,train_end),(test_start,test_end))

        raw_financial_items_28 = data_feat['raw_financial_items_28']

        X_train, y_train = train_data[raw_financial_items_28], train_data['Mistate']
        X_test, y_test = test_data[raw_financial_items_28], test_data['Mistate'] 

        print("Training data Shape:", X_train.shape)
        print("Testing data Shape:", X_test.shape)

        rus = RandomUnderSampler(random_state=42)
        X_train_resampled, y_train_resampled = rus.fit_resample(X_train, y_train)

        print("Training data Shape after sampling:", X_train_resampled.shape)

        performance,(_,_,_,_) = train_model(X_train_resampled, y_train_resampled, X_test, y_test,inputs = 28,actv_func='logistic', hidden_lay_neu=50,learning_rate=0.005)
        print("Performance over Train period {} - {} and Test Period {} - {}".format(train_start,train_end,test_start,test_end),performance)
        print('\n')
        performance_results.append(performance)

        train_start += window_size
        train_end += window_size
        test_start += window_size
        test_end += window_size
        if test_end > 2023:
            test_end==2023


    # Calculate the average performance over all sliding windows
    average_performance = sum(performance_results) / len(performance_results)

    # Print the average performance
    print("Average performance:", average_performance)

In [150]:
test_results(5)

Training data Shape: (43648, 28)
Testing data Shape: (42104, 28)
Training data Shape after sampling: (272, 28)
Performance over Train period 1990 - 1995 and Test Period 1996 - 2000 0.5531676406021413


Training data Shape: (50549, 28)
Testing data Shape: (35355, 28)
Training data Shape after sampling: (622, 28)
Performance over Train period 1995 - 2000 and Test Period 2001 - 2005 0.6850016113701541


Training data Shape: (43391, 28)
Testing data Shape: (30064, 28)
Training data Shape after sampling: (846, 28)
Performance over Train period 2000 - 2005 and Test Period 2006 - 2010 0.6135091182975644


Training data Shape: (36696, 28)
Testing data Shape: (28732, 28)
Training data Shape after sampling: (384, 28)
Performance over Train period 2005 - 2010 and Test Period 2011 - 2015 0.6210616920013051


Training data Shape: (34454, 28)
Testing data Shape: (26790, 28)
Training data Shape after sampling: (172, 28)
Performance over Train period 2010 - 2015 and Test Period 2016 - 2020 0.6642144278014859


Training data Shape: (32344, 28)
Testing data Shape: (9778, 28)
Training data Shape after sampling: (120, 28)
Performance over Train period 2015 - 2020 and Test Period 2021 - 2025 0.5208085673293708


Average performance: 0.6096271762336704

In [151]:
test_results(6)

Training data Shape: (43648, 28)
Testing data Shape: (42104, 28)
Training data Shape after sampling: (272, 28)
Performance over Train period 1990 - 1995 and Test Period 1996 - 2000 0.5531676406021413


Training data Shape: (49700, 28)
Testing data Shape: (34180, 28)
Training data Shape after sampling: (742, 28)
Performance over Train period 1996 - 2001 and Test Period 2002 - 2006 0.6376932092187665


Training data Shape: (40380, 28)
Testing data Shape: (29019, 28)
Training data Shape after sampling: (638, 28)
Performance over Train period 2002 - 2007 and Test Period 2008 - 2012 0.6168914717996441


Training data Shape: (34901, 28)
Testing data Shape: (27241, 28)
Training data Shape after sampling: (262, 28)
Performance over Train period 2008 - 2013 and Test Period 2014 - 2018 0.6070611002831611


Training data Shape: (32661, 28)
Testing data Shape: (15181, 28)
Training data Shape after sampling: (130, 28)
Performance over Train period 2014 - 2019 and Test Period 2020 - 2024 0.6083394802967333


Average performance: 0.6046305804400893

In [152]:
test_results(6)

Training data Shape: (43648, 28)
Testing data Shape: (42104, 28)
Training data Shape after sampling: (272, 28)
Performance over Train period 1990 - 1995 and Test Period 1996 - 2000 0.5531676406021413


Training data Shape: (49700, 28)
Testing data Shape: (34180, 28)
Training data Shape after sampling: (742, 28)
Performance over Train period 1996 - 2001 and Test Period 2002 - 2006 0.6376932092187665


Training data Shape: (40380, 28)
Testing data Shape: (29019, 28)
Training data Shape after sampling: (638, 28)
Performance over Train period 2002 - 2007 and Test Period 2008 - 2012 0.6168914717996441


Training data Shape: (34901, 28)
Testing data Shape: (27241, 28)
Training data Shape after sampling: (262, 28)
Performance over Train period 2008 - 2013 and Test Period 2014 - 2018 0.6070611002831611


Training data Shape: (32661, 28)
Testing data Shape: (15181, 28)
Training data Shape after sampling: (130, 28)
Performance over Train period 2014 - 2019 and Test Period 2020 - 2024 0.6083394802967333


Average performance: 0.6046305804400893

In [153]:
test_results(8)

Training data Shape: (43648, 28)
Testing data Shape: (42104, 28)
Training data Shape after sampling: (272, 28)
Performance over Train period 1990 - 1995 and Test Period 1996 - 2000 0.5531676406021413


Training data Shape: (46829, 28)
Testing data Shape: (32023, 28)
Training data Shape after sampling: (890, 28)
Performance over Train period 1998 - 2003 and Test Period 2004 - 2008 0.6146973502174419


Training data Shape: (35810, 28)
Testing data Shape: (28391, 28)
Training data Shape after sampling: (332, 28)
Performance over Train period 2006 - 2011 and Test Period 2012 - 2016 0.642545713508041


Training data Shape: (32661, 28)
Testing data Shape: (15181, 28)
Training data Shape after sampling: (130, 28)
Performance over Train period 2014 - 2019 and Test Period 2020 - 2024 0.6083394802967333


Average performance: 0.6046875461560893

In [154]:
test_results(10)

Training data Shape: (43648, 28)
Testing data Shape: (42104, 28)
Training data Shape after sampling: (272, 28)
Performance over Train period 1990 - 1995 and Test Period 1996 - 2000 0.5531676406021413


Training data Shape: (43391, 28)
Testing data Shape: (30064, 28)
Training data Shape after sampling: (846, 28)
Performance over Train period 2000 - 2005 and Test Period 2006 - 2010 0.6135091182975644


Training data Shape: (34454, 28)
Testing data Shape: (26790, 28)
Training data Shape after sampling: (172, 28)
Performance over Train period 2010 - 2015 and Test Period 2016 - 2020 0.6642144278014859


Average performance: 0.6102970622337305

In [168]:
train_data, val_data, test_data = datasets(data_new, (1990,2000),(2001,2002),(2003,2023))

raw_financial_items_28 = data_feat['raw_financial_items_28']

X_train, y_train = train_data[raw_financial_items_28], train_data['Mistate']
X_test, y_test = test_data[raw_financial_items_28], test_data['Mistate'] 

print("Training data Shape:", X_train.shape)
print("Testing data Shape:", X_test.shape)

rus = RandomUnderSampler(random_state=42)
X_train_resampled, y_train_resampled = rus.fit_resample(X_train, y_train)

print("Training data Shape after sampling:", X_train_resampled.shape)

performance,(_,_,_,_) = train_model(X_train_resampled, y_train_resampled, X_test, y_test,inputs = 28,actv_func='logistic', hidden_lay_neu=50,learning_rate=0.005)
# print("Performance over Train period {} - {} and Test Period {} - {}".format(2000,2014,2015,2023),performance)
print("AUC:", performance)
print('\n')

Training data Shape: (85752, 28)
Testing data Shape: (115848, 28)
Training data Shape after sampling: (852, 28)
AUC: 0.5988168070528352

### RusBoost

In [38]:
import numpy as np
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import roc_auc_score, ndcg_score, precision_score, recall_score
import time

In [91]:
def evaluate(y_true, y_pred, y_scores, topN):
    metrics = {}
    metrics['auc'] = roc_auc_score(y_true, y_scores)
    k = int(topN * len(y_true))
    if k > 0:
        metrics['ndcg_at_k'] = ndcg_score([y_true], [y_scores], k=k)
        y_pred_topk = np.argsort(y_scores)[-k:]
        metrics['sensitivity_topk'] = recall_score(y_true, y_pred, average='binary', pos_label=1)
        metrics['precision_topk'] = precision_score(y_true, y_pred, average='binary', pos_label=1)
    else:
        metrics['ndcg_at_k'] = 0.0
        metrics['sensitivity_topk'] = 0.0
        metrics['precision_topk'] = 0.0
    return metrics

In [80]:
np.random.seed(0)

In [81]:
train_data, val_data, test_data = datasets(data_new, (1990,2005),(2001,2002),(2006,2014))

raw_financial_items_28 = data_feat['raw_financial_items_28']

X_train, y_train = train_data[raw_financial_items_28], train_data['Mistate']
X_test, y_test = test_data[raw_financial_items_28], test_data['Mistate']

In [82]:
rus = RandomUnderSampler(random_state=42)
X_train_resampled, y_train_resampled = rus.fit_resample(X_train, y_train)

print("Training data Shape after sampling:", X_train_resampled.shape)

Training data Shape after sampling: (1524, 28)

In [83]:
print('Training model...')
base_model = DecisionTreeClassifier(min_samples_leaf=5)
rusboost = AdaBoostClassifier(base_model, n_estimators=300, learning_rate=0.1)
rusboost.fit(X_train_resampled, y_train_resampled)

Training model...

AdaBoostClassifier(estimator=DecisionTreeClassifier(min_samples_leaf=5),
                   learning_rate=0.1, n_estimators=300)

In [84]:
# test model
print('Testing model...')
t2 = time.time()
y_pred = rusboost.predict(X_test)
y_scores = rusboost.decision_function(X_test)
t_test = time.time() - t2

Testing model...

In [85]:
metrics = evaluate(y_test, y_pred, y_scores, 5)

In [86]:
metrics

{'auc': 0.6619230955901021,
 'ndcg_at_k': 0.4363932886969452,
 'sensitivity_topk': 0.6534653465346535,
 'precision_topk': 0.007493613397672438}

In [55]:
def rus_boost(X_train, y_train, X_test, y_test):
    metrics = {}
    base_model = DecisionTreeClassifier(min_samples_leaf=5)
    rusboost = AdaBoostClassifier(base_model, n_estimators=300, learning_rate=0.1)
    rusboost.fit(X_train, y_train)

    y_pred = rusboost.predict(X_test)
    y_scores = rusboost.decision_function(X_test)

    
    metrics['auc'] = roc_auc_score(y_test, y_scores)
    print(y_scores, roc_auc_score(y_test, y_pred))

    return metrics,y_pred

In [56]:
rus_boost(X_train_resampled, y_train_resampled, X_test, y_test)

[ -0.1261203    5.63131347 -14.94172094 ...  17.88176373  -5.4723131
  -5.28589978] 0.6637217914199723

({'auc': 0.7227700344780255}, array([0, 1, 0, ..., 1, 0, 0], dtype=int64))

In [87]:
from sklearn.datasets import load_breast_cancer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score
X, y = load_breast_cancer(return_X_y=True)
clf = LogisticRegression(solver="liblinear", random_state=0).fit(X, y)
roc_auc_score(y, clf.predict_proba(X)[:, 1])
roc_auc_score(y, clf.decision_function(X))

0.994714867078907